/* animetion pop up */
#popupText {
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3s steps(22, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 39% }
  }

#closepopup{
    margin-top: 100px;
    width: 180px;
    height: 80px;
}
/* pop up windows */
.popUpWindows{
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* end of pop up */
#header{
    background-color: black;
    height: 150px;
    opacity: 0.8;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: 'Press Start 2P', cursive;
}

#ButtonsDiv{
    display: flex;
    justify-content: space-between;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#playerscore, #computerscore, #rounds, #ties{
    margin-left: 10px;
}

#playerArea, #computerArea, #roundsArea, #tiesArea{
    display: flex;
    flex-direction: row;
}

#scoreArea{
    background-color: black;
    opacity: 0.8;
    width: 200px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-image:url('https://cutewallpaper.org/21/static-background-gif/static-ART-642-NEW-MEDIA.gif'); background-repeat:repeat;
}

#ButtonRock{
    width: 180px;
    height: 180px;
}

#ButtonPaper{
    width: 180px;
    height: 180px;
}

#ButtonScissors{
    width: 180px;
    height: 180px;
}